@import '../variable.scss';

// var
$fontcolor: #FFFF;


// main
.locationcontent{
    color:#FFFF;

.locationh1{
    color: $fontcolor;
    margin: 30px 0 30px 0;
}
.locationh2{
    color: $fontcolor;
}
.fontdefultcolor{
    color:$fontcolor
}
//divemap
.divelocussection{
    margin: 100px 0 100px 0;
    @media only screen and (max-width: 576px){
        margin: 10px 0 10px 0;
    }
}
.locationcard{
    background-color: $aquabackground;
}
.locationlist{
    li{
        list-style: none;
        margin-bottom: 5px;
        a{
            font-size: 16px;
            color: #FFFF;
        }
    }
}
.divemap{
    height: 550px;
    z-index: 0;
}
.locusinfo{
    ul{
        li{
            margin-top: 15px;
            list-style: none;
        }
    }
}
.regionwether{
    min-height: 100px;
    overflow-x: auto;
    max-width: 100%;
}
.nav-item{
    color: #FFFF !important;
}
.weathertable{
    overflow-x: auto;
    max-width: 100%;
    max-height: 100%;
    table-layout: auto;
    thead{
        th{
            height: 50px;
            min-width: 150px;
            background-color: #31445F;
            text-align: center;
            color: #FFFF;
        }
    }
    tr{
        td{
            white-space: normal !important;
            height: 50px;
            min-width: 150px;
            background-color: #31445F;
            text-align: center;
            color: #FFFF;
        }
        .weekweatherdate{
            max-width: 150px; 
        }
        .WeatherDescription{
            text-align: left;
            color: #FFFF;
        }
    }
}
}