@import '../variable.scss';

// var
$fontcolor: #FFFF;


// main
.locationcontent{
    color:#FFFF;

.locationh1{
    color: $fontcolor;
    margin: 30px 0 30px 0;
}
.locationh2{
    color: $fontcolor;
}
.fontdefultcolor{
    color:$fontcolor
}
//divemap
.divelocussection{
    margin: 100px 0 100px 0;
}
.locationcard{
    background-color: $aquabackground;
}
.locationlist{
    li{
        list-style: none;
        margin-bottom: 5px;
        a{
            font-size: 16px;
            color: #FFFF;
        }
    }
}
.divemap{
    height: 550px;
    z-index: 0;
}
.locusinfo{
    ul{
        li{
            margin-top: 15px;
            list-style: none;
        }
    }
}
.regionwether{
    height: 730px;
}
.nav-item{
    color: #FFFF !important;
}
.weathertable{
    thead{
        th{
            height: 50px;
            width: 150px;
            background-color: #31445F;
            text-align: center;
        }
    }
    tr{
        td{
            height: 50px;
            width: 150px;
            background-color: #31445F;
            text-align: center;
        }
    }
}
}