body {
  margin: 0;
  font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.banner {
  width: 100%;
  height: 370px;
  overflow: hidden;
  margin-bottom: 3.125rem;
  img {
    width: 100%;
  }
  @media screen and (max-width: 540px) {
    height: 200px;
    img {
      object-fit: contain;
    }
  }
}
.Header-Navbar {
  @media screen and(max-width:540px) {
    max-width: 375px;
  }
}
div.collapse.navbar-collapse {
  @media screen and (max-width: 540px) {
    display: flex !important;
    max-height: 0;
    overflow: hidden;
    transition: 1s;
  }
}
.JY_navMenuShow {
  display: flex !important;
  max-height: 500px !important;
}
.loading {
  text-align: center;
  color: white;
}
@import '../src/pages/class/class.scss';
@import '../src/pages/class/classDetailStyle.scss';
@import '../src/pages/event/event.scss';
@import '../src/pages/event/eventDetail.scss';
@import '../src/pages/event/eventMapList.scss';
@import '../src/pages/class/SellerClass.scss';
@import '../src/pages/class/SellerEditClass.scss';
