.messageContent {
  margin-bottom: 50px;
  height: 594px;
}

.messageContent ::-webkit-scrollbar {
  display: none;
}

.messageContent .chatRoomList {
  background-color: #4e5f76;
  list-style: none;
  padding: 0;
  overflow: auto;
  height: 594px;
  position: relative;
}

.messageContent .chatRoomList .chatListTitle {
  background-color: #31445f;
  padding: 15px;
  color: white;
  text-align: center;
}

.messageContent .chatRoomList .chatListTitle p {
  margin: 0;
}

.messageContent .chatRoomList .chatRoomSelect {
  background-color: #4e5f76;
}

.messageContent .chatRoomList .chatRoomSelect select {
  color: rgba(0, 0, 0, 0.6);
}

.messageContent .chatRoomList .chatRoomSelect select option {
  background-color: #4e5f76;
}

.messageContent .chatRoomList ul {
  padding: 0;
}

.messageContent .chatRoomList ul li {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 7px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.messageContent .chatRoomList ul li p {
  margin: 0;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.messageContent .chatRoomList ul .active {
  color: #f15a24;
  background-color: #e2e4e8;
  border-right: 7px solid #31445f;
}

.messageContent .chatRoomList ::-webkit-scrollbar {
  display: none;
}

.messageContent .viewArea {
  background-color: #c4cad1;
  padding: 0;
}

.messageContent .viewArea .chatEeventTitle {
  background-color: #e2e4e8;
  padding: 15px;
}

.messageContent .viewArea .msgArea {
  padding: 15px;
  width: 100%;
  min-height: 500px;
  max-height: 500px;
  overflow: auto;
  position: relative;
}

.messageContent .viewArea .msgArea .startChat {
  position: absolute;
  top: 62%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.messageContent .viewArea .msgArea .startChat p {
  font-size: 14px;
  text-align: center;
}

.messageContent .viewArea .msgArea .memberAvatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
}

.messageContent .viewArea .msgArea .memberAvatar img {
  width: 100%;
  height: 100%;
}

.messageContent .viewArea .msgArea .msgBox {
  margin-top: 10px;
}

.messageContent .viewArea .msgArea .msgBox .otherName {
  margin: 0;
  padding-left: 15px;
  font-size: 12px;
}

.messageContent .viewArea .msgArea .msgBox .msgTime {
  font-size: 12px;
}

.messageContent .viewArea .inputArea {
  background-color: #e2e4e8;
}

.messageContent .viewArea .inputArea .btn {
  width: 100%;
  margin: 0;
  color: #3f51b5;
}

.messageContent .mymessage {
  padding: 5px 10px;
  margin: 0px 15px 0 10px;
  position: relative;
  background: #fff;
  border-radius: 0.4em;
}

.messageContent .mymessage:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-left-color: #fff;
  border-right: 0;
  border-bottom: 0;
  margin-top: -5.5px;
  margin-right: -11px;
}

.messageContent .othermessage {
  position: relative;
  background: #4e5f76;
  border-radius: 0.4em;
  padding: 5px 10px;
  margin: 0px 10px 0 15px;
  color: #e2e4e8;
}

.messageContent .othermessage:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 11px solid transparent;
  border-right-color: #4e5f76;
  border-left: 0;
  border-top: 0;
  margin-top: -5.5px;
  margin-left: -11px;
}
/*# sourceMappingURL=UserMessage.css.map */