.JY-Seller-Class {
  background-color: white;
  .card {
    font-size: 16px;
    margin-top: 30px;
    .card-title {
      font-size: 22px;
    }
    .card-body {
      padding: 10px;
    }
    .classSellerImgBox {
      height: 260px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    ul {
      list-style: none;
      padding-left: 0;
      li {
        margin-right: 20px;
      }
    }
    .buttons {
      justify-content: center;
      .btn {
        margin: 0 15px;
      }
    }
  }
  .addClassForm {
    textarea{
        resize: none;
    }
    .classDescBox {
      height: 93%;
      .form-control {
        height: 100%;
      }
    }
  }
  .btn-box{
      margin-top: 30px;
      justify-content: center;
      .btn{
          width: 300px;
      }
  }
}
