$Dbg: #132948;
$Lbg: #485a71;
$Dg: #c4cad1;
$Lg: #e2e4e8;
$Lb: #47c9e5;
$O: #fa5d07;

body {
  height: 300vh;
  background-color: #132948;
}

.navbar-shopping-cart-icon {
  opacity: 0.6;
  /* position: relative; */
}

#num {
  position: relative;
}
#num::after {
  position: absolute;
  content: '0';
  display: block;
  width: 16px;
  height: 16px;
  /* border: 1px solid red; */
  background-color: red;
  border-radius: 50%;
  color: white;
  font-size: 0.9rem;
  top: 5%;
  right: 5%;
}
@media (min-width: 576px) {
  /* .member */
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
  color: black;
}
.items-card img {
  /* object-fit: ; */
  width: 220px;
}
.titlebarFix {
  height: 80px;
  width: 100%;
  background-color: $Dbg;
}
.titlebar {
  height: 80px;
  margin-bottom: 3.125rem;
  background-color: $Lg;
  display: flex;
  align-items: center;

  .container {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      margin: 0;
    }

    a {
      color: black;
      text-decoration: none;
      padding: 10px;
    }
  }
}
.rao {

  .postImg {
    height: 475px;
    margin-bottom: 3.125rem;
    img {
      height: 100%;
      width: 100%;
      border-radius: 6px;
    }
  }
  .postTitle {
    a {
      h2 {
        margin-bottom: 16px;
        font-weight: bold;
        color: $O;
      }
    }
  }
  .postNav {
    color: $Lg;
    a {
      color: $Lg;
      font-weight: bold;
      &:hover {
        color: $Lb;
      }
    }
    li {
      margin: 0 5px;
    }
  }
  .postBody {
    p {
      margin-bottom: 16px;
      color: $Lg;
      font-size: 16px;
    }
    hr {
      width: 83%;
      background: $Lg;
    }
  }
  .postFooter {
    h5 {
      color: $O;
    }
    a {
      display: block;
      color: $Lg;
      background-color: $Lbg;
      margin: 0 5px 5px 5px;
      padding: 0px 10px;
      &:hover {
        color: $Lbg;
        background-color: $Lg;
      }
    }
    hr {
      width: 83%;
      background: $Lg;
    }

  }
  .blogcontentPage {
    li,
    a {
      width: 30px;
      height: 30px;
      // border: 1px rgb(255, 255, 255) solid;
      border-radius: 50%;
      background-color: $Lbg;
      align-items: center;
      justify-content: center;
      display: flex;
      margin: 0 3px;
      a {
        padding: 10px;
        color: $Lg;
      }
    }
  }
  
  .relatedPost {
    margin: 3.125rem 0px;
    color: $Lg;
    ul {
      // justify-content: space-between;
      li {
        width: 230px;
        margin: 0 10px;

        figure {
          margin: 0;
          height: 160px;
          overflow: hidden;
          perspective: 1000px;
          img {
            width: 100%;
            transition: 0.3s;
            &:hover {
              transform: translateZ(100px);
            }
          }
        }
      }
    }
  }
  .comment {
    h5 {
      color: $O;
      margin-bottom: 16px;
    }
    .commentContent {
      border-radius: 6px;
      background: $Lbg;
      display: flex;
      // justify-content: space-between;
      align-items: start;
      margin-bottom: 8px;
      figure {
        // justify-content: center;
        margin: 8px;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        overflow: hidden;
        border: 0.5px solid rgb(0, 0, 0);
        perspective: 1000px;
        img {
          width: 100%;
          transition: 0.3s;
          &:hover {
            /* transform: scale(1.1); */
            transform: translateZ(100px);
          }
        }
      }
      .commmentBody {
        width: 100%;
        a {
          color: $Lg;
          font-size: 18px;
          font-weight: bold;
          &:hover {
            color: $Lb;
          }
        }
        .commentAuthor {
          color: $Lg;
        }
        time {
          color: $Dbg;
        }
        .commmentbodyText P{
          color: $Lg;
          font-size: 16px;
      
        }
      }
    }
  }
  .postComment {
    h5 {
      color: $O;
    }
    .postcommentBody {
      border-radius: 6px;
      background-color: $Lbg;
      height: 200px;
    }



      textarea {
        height: 200px;
        background-color: $Lbg;
        color: white;
        border: none;
        border-radius: 6px;
        overflow: scroll-right;
        padding: 15px;
      }
    
    button {
      font-size: 16px;
      margin: 16px 0;
      background-color: #485a71;
      border: none;
      color: $Lg;
      padding: 10px 40px;
    }
  }
}
