$Dbg: #132948;
$Lbg: #485a71;
$Dg: #c4cad1;
$Lg: #e2e4e8;
$Lb: #47c9e5;
$O: #fa5d07;


.titlebarFix {
  height: 80px;
  width: 100%;
  background-color: $Dbg;
}

.titlebar {
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  height: 80px;
  margin-bottom: 3.125rem;
  background-color: $Lg;
  display: flex;
  align-items: center;

  .container {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0;
    }

    a {
      color: black;
      text-decoration: none;
      padding: 10px;
    }
  }
}



.rao {
  .form-control,
.custom-file-control,
.is-focused .form-control,
.is-focused .custom-file-control {
  background-image: linear-gradient(to top, $Lg 1px, rgba(0, 0, 0, 0) 1px);
}

.custom-select:focus {
  border-color: #ffffff;
  outline: 0;
  box-shadow: none;
}

.custom-control-label::before,
.custom-file-label,
.custom-select {
  transition: none;
}
  font-weight: 300;

  a {
    text-decoration: none;
    color: black;

  }

  .add {

    box-shadow: 0px 0px 5px 1px #000000;
    border-radius: 6px;
    background-color: $Lbg;
    height: 475px;
    margin-bottom: 3.125rem;
    padding: 20px;

    p {
      color: $Lg;
      width: 60px;
      border: $Lg 1px solid;
      border-radius: 6px;
      text-align: center;
      padding: 5px 5px;
      margin-bottom: 16px;

    }

    ::placeholder {
      color: $Lg;
      font-weight: 300;

    }

    .addInput {
      color: $Lg;
      width: 400px;
      border: $Lg 1px solid;
      border-radius: 6px;
      margin-right: 10px;
      padding-left: 15px;
      font-weight: 300;

    }

    select {
      text-align: center;
      text-align-last: center;
      // background-color: $Lg;
      color: $Lg;
      width: 100px;
      border: $Lg 1px solid;
      border-radius: 6px;

      option {
        color: black;
        font-weight: 300;

      }
    }

    textarea {
      border: $Lg 1px solid;
      border-radius: 6px;
      height: 270px;
      color: white;
      overflow: scroll-right;
      padding: 15px;
      font-weight: 300;

    }

    .addTag {

      // width: 50px;
      input {
        // width: 100px;
        margin: 0;
        padding: 0;
      }
      ::placeholder {
        color: $Lg;

      }

      .tagName1 {
        width: 100px;
        text-align: center;
        border-right: 0.5px $Lg solid;
        border-radius: 6px 0 0 6px;
      }
      .tagName2 {
        width: 100px;
        text-align: center;
        border-left: none;
        border-radius: 0 6px 6px 0;
      }

      .addImg {
        text-align: center;
        padding: 0;
        margin: 0;
        width: 150px;
        border: $Lg solid 1px;
        border-radius: 6px;

        &:hover {
          cursor: pointer;
        }

        h6 {
          margin: 10px 0 0 0;
          color: $Lg;
          font-weight: 300;

        }
        input {
          display: none;
        }
      }
      img {
        border-radius: 6px;
         background-color: white;
        border: 1px $Lg solid;
      }
    }

    .addSend {
      font-size: 16px;
      font-weight: 300;

      background-color: $Lbg;
      border: 1px $Lg solid;
      color: $Lg;
      padding: 10px 40px;

      &:hover {
        color: $Lbg;
        background-color: $Lg;
      }
    }
  }
}
