$Dbg: #132948;
$Lbg: #485a71;
$Dg: #c4cad1;
$Lg: #e2e4e8;
$Lb: #47c9e5;
$O: #fa5d07;

.rao {
  h1 {
    color: #ffffff;
  }

  hr {
    margin: 0;
    width: 70%;
  }

  a {
    color: #000000;
    text-decoration: none;

    &:hover {
      color: #47c9e5;
    }
  }

  .category {
    margin-bottom: 3.125rem;

<<<<<<< HEAD
    span,a {
      font-weight: 300;
=======
    a {
>>>>>>> 201bb8efca10e8c9d28e8634cea4f8cd9b0b7b1e
      color: $Lg;
      background: $Lbg;
      padding: 5px 15px;
      margin: 5px 5px;

      &:hover {
        cursor: pointer;
        background: $Lb;
        color: #000;
      }
    }

    .addPost,
    .addPost:hover {
      background: $O;
    }
  }
<<<<<<< HEAD
@media screen and (max-width: 576px){
  span{
    display: inline-block;
  }
  ul{
    width: 300px;
    text-align: center;
    flex-wrap: wrap;
=======

  @media screen and (max-width: 576px) {
    .category {
      width: 300px;
      text-align: center;
      flex-wrap: wrap;
    }
>>>>>>> 201bb8efca10e8c9d28e8634cea4f8cd9b0b7b1e
  }

  .lCard,
  .rCard {
    perspective: 100px;

    .card {
      color: $Dg;
      width: 21rem;
      margin-bottom: 50px;
      box-shadow: 2px 2px 7px 5px #000000;
      transition: 0.5s;
<<<<<<< HEAD
      font-weight: 300;
=======
>>>>>>> 201bb8efca10e8c9d28e8634cea4f8cd9b0b7b1e

      &:hover {
        transform: matrix3d(0.99, 0, 0.00, 0, 0.00, 0.99, 0.00, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        // transform: translateZ(-.4px);
        box-shadow: none;
        color: $Dg;
      }

      img:hover {
        cursor: zoom-in;
      }

      .card-text {
        font-weight: 300;
        color: $Dg;
      }

      .card-body {
        &:hover {
          cursor: pointer;
        }

        a {
          color: $Dg;
          text-decoration: none;
        }

        .card-title {
          font-weight: bolder;
          color: #000;

          &:hover {
            color: $Lb;
          }
        }
<<<<<<< HEAD
        .card-text:hover{
          cursor: text;
        }
        .card-tag a{
=======

        .card-tag a {
>>>>>>> 201bb8efca10e8c9d28e8634cea4f8cd9b0b7b1e
          margin: 0 10px;
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    .cardContent {
      flex-direction: column;
      margin-right: 20px;

    }
  }

  @media screen and (max-width: 576px) {
    .rSide {
      padding: 20px;
      margin-bottom: 30px;
      order: -1;
    }
  }

  .page {
    margin-top: 30px;

    ul {
      list-style: none;
      display: flex;
      justify-content: center;

      .ative {
        background-color: $O;
      }

      li {
        width: 30px;
        height: 30px;
        // border: 1px rgb(255, 255, 255) solid;
        border-radius: 50%;
        background-color: $Lbg;
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 0 3px;

        &:hover {
          background-color: $O;
        }

        .ative {
          background-color: $O;
        }

        a {
          padding: 10px;
          color: $Lg;
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    .page {
      order: 1;
    }

  }

}