
//主要背景色
$aquabackground:#132948;
// 強調色
$aquacolordanger:#F15A24;
//以下輔色，按深淺排列
$aquacolorone:#31445F;
$aquacolortwo:#4E5F76;
$aquacolorthree:#C4CAD1;
$aquacolorfour:#E2E4E8;
//我的顏色
$fontawesome:#009688;
$black:#000000;
$white:#FFFFFF;

// Others----------------------------------------
.otherlogin{
  color: $black;
}
.servicelink{
  color: $aquacolordanger;
}

.entirepage-hs{
  background-image: url('../image/ClassBanner.jpg');
  background-repeat: no-repeat;
  background-size: cover
}
.entirepagetwo-hs{
  background-image: url('../image/L0020-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 140px;
  

}

//Sidebar----------------------------------------
.avatar{
    width: 130px;
    height: 130px;
}
.sidebarlink-hs {
    color: $white;
}
.sidebarlink-hs:hover{
    color: $aquacolordanger;
}

// Login----------------------------------------
.signincard-hs{
    padding-top: 250px;
    padding-bottom: 300px;
    opacity: .92;
}
.hslogin{
    a{
        color: $black;
        i{
            color: $fontawesome;
        }
    }
    .btn.btn-info, .btn-info.custom-file-control::before{
        color: $aquacolordanger;
    }
    .sellerlogin{
        margin-top: 20px;
        a{
            color: $aquacolordanger;
        }
    }
}

//Register----------------------------------------
.registerbg {
  width: 100%;
  height: 100%;
}
.hsregister {
  .btn.btn-info,
  .btn-info.custom-file-control::before {
    color: $aquacolordanger;
  }
  .agreementlink {
    color: $aquacolordanger;
  }
}
.registercard-hs {
  padding-top: 250px;
  padding-bottom: 130px;
  opacity: 0.92;
}

//Homepage-------------------------------------------
.hshomepage {
  height: 150vh;
}

//User-------------------------------------------
.inputavatar{
  width: 250px;
  height: 40px;
}
.btn.btn-primary,
.btn-primary.custom-file-control::before {
  color: $aquacolordanger;
}
.btn.btn-primary:hover,
.btn-primary.custom-file-control:hover::before {
  color: $aquacolordanger;
}
.infocard-hs {
  margin-bottom: 30px;
  opacity: 0.92;
  border-radius: 10px;
}
.pagetitle-hs {
  margin-top: 20px;
  margin-bottom: 20px;
  color: $black;
}
.hrline-hs {
  height: 1px;
  background: #c4cad1;
  border: none;
}
.avatar-hs {
  margin-top: 10px;
  height: 140px;
}
.input-hs {
  text-align: center;
}

//Order----------------------------------------
.hsclass {
  li {
    a {
      color: $white;
    }
    a:hover {
      color: $aquacolordanger;
    }
  }
}
.orderimg-hs {
  width: 150px;
  height: 150px;
  margin-top: 30px;
  border-radius: 5px;
  object-fit: contain;
}
.orderselection-hs {
  width: 90px;
}

//Class----------------------------------------
.hsorder {
  li {
    a {
      color: $white;
    }
    a:hover {
      color: $aquacolordanger;
    }
  }
}
.classselection-hs {
  width: 90px;
}
.classimg-hs {
  width: 150px;
  height: 150px;
  margin-top: 30px;
  border-radius: 5px;
}

//Event----------------------------------------
.hsevent {
  li {
    a {
      color: $white;
    }
    a:hover {
      color: $aquacolordanger;
    }
  }
}
.eventselection-hs {
  width: 90px;
}
.eventContent-MEMBER-JY{
  max-height: 340px;
  .col-sm-5,.col-sm-7{
    max-height: 340px;
  }
}
.eventimg-hs {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // margin-top: 30px;
  padding: 15px;
  border-radius: 5px;
  img {
    width: 100%;
    height: 100%;
  }
}
.itemId-JY {
  margin: 0;
}

.card-header-jy {
  min-height: 50px;
}

.addClassForm {
  background-color: white;

  textarea {
    resize: none;
  }
  .classDescBox {
    height: 88.3%;
    .form-control {
      height: 100%;
    }
  }
}
.btn-box {
  justify-content: center;
  .btn {
    width: 300px;
  }
}
.select-jy {
  color: rgba($color: #fff, $alpha: 0.6);
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.6);
}
.switchbutton-jy {
  min-height: 40px;
  margin-right: 15px;
  p{
    margin: 0 5px 0 0 ;
  }
  color: rgba($color: #fff, $alpha: 0.6);
}
