$Dbg: #132948;
$Lbg: #485a71;
$Dg: #c4cad1;
$Lg: #e2e4e8;
$Lb: #47c9e5;
$O: #fa5d07;

  .rSide {
    padding: 0 0 0 40px;
    p {
      color: $O;
    }
    hr {
      border-top: rgba(0, 0, 0, 0.775) 1px solid;
      width: 100%;
      margin-top: 0;
    }

    span a {
      color: $Lg;
      background-color: $Dbg;
      margin: 5px 5px 5px;
      padding: 0px 10px 5px 10px;
    }
    a:hover {
      color: $Lg;
    }
    .content {
      background: $Lbg;
      box-shadow: 0px 0px 5px 1px #000000;
      padding: 20px 20px 0 20px;
      .newpostPic {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        overflow: hidden;
        border: 0.5px solid rgb(0, 0, 0);
        perspective: 1000px;
        img {
          width: 100%;
          transition: 0.3s;
          &:hover {
            /* transform: scale(1.1); */
            transform: translateZ(100px);
          }
        }
      }
    }
  }