.JY-event-container {
  .searchBox {
    // background-color: white;
    padding: 0.938rem;
    border-radius: 0.625rem;
    select {
      color: rgba($color: #ffffff, $alpha: 0.5);
      border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.5);
      option {
        background-color: #132948;
      }
    }
    .searchInput {
      color: rgba($color: #ffffff, $alpha: 0.5);
      border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.5);
      &:focus {
        border-bottom: 0px solid transparent;
      }
    }
    .btn-search {
      color: white;
      border: 1px solid white;
    }
  }
  .eventInfoBox {
    margin: 0.938rem auto;
    transition: 0.5s;
    &:hover {
      transform: translateY(-10px);
    }
    .eventContentBox {
      background-color: white;
      height: 32.5rem;
      border-radius: 0.625rem;
      overflow: hidden;
      .eventImgBox {
        width: 100%;
        height: 200px;
        & > img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .eventDetailBox {
        color: #132948;
        padding: 10px;
        h2 {
          text-align: center;
        }
        ul {
          padding: 0;
          list-style: none;
        }
        & > ul {
          margin-bottom: 0;
          li {
            margin-right: 30px;
          }
        }
        .status {
          margin-top: 15px;
          font-size: 18px;
          text-align: center;
        }
        .quota {
          text-align: center;
          font-size: 14px;
          span {
            font-size: 18px;
          }
        }
      }
    }

    @media screen and(max-width:540px) {
      // padding:0 8px;
    }
    @import './progress.scss';
    .progress_container {
      position: relative;
      &::before {
        content: attr(data-progress);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
      }
    }
  }
  li.page-item {
    cursor: pointer;
  }
}
