.JY-event-container .searchBox {
  padding: 0.938rem;
  border-radius: 0.625rem;
}

.JY-event-container .searchBox select {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.JY-event-container .searchBox select option {
  background-color: #132948;
}

.JY-event-container .searchBox .searchInput {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.JY-event-container .searchBox .searchInput:focus {
  border-bottom: 0px solid transparent;
}

.JY-event-container .searchBox .btn-search {
  color: white;
  border: 1px solid white;
}

.JY-event-container .eventInfoBox {
  margin: 0.938rem auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.JY-event-container .eventInfoBox .eventContentBox {
  background-color: white;
  height: 34.375rem;
  border-radius: 0.625rem;
  overflow: hidden;
}

.JY-event-container .eventInfoBox .eventContentBox .eventImgBox {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.JY-event-container .eventInfoBox .eventContentBox .eventImgBox > img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.JY-event-container .eventInfoBox .eventContentBox .eventDetailBox {
  color: #132948;
  padding: 0.625rem;
}

.JY-event-container .eventInfoBox .eventContentBox .eventDetailBox h2 {
  min-height: 52px;
  text-align: center;
  position: relative;
  margin: 0;
}

.JY-event-container .eventInfoBox .eventContentBox .eventDetailBox h2:before, .JY-event-container .eventInfoBox .eventContentBox .eventDetailBox h2:after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 2px;
  margin: 0px 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
  opacity: 0;
  background-color: #ff5722;
}

.JY-event-container .eventInfoBox .eventContentBox .eventDetailBox h2:before {
  left: 50%;
}

.JY-event-container .eventInfoBox .eventContentBox .eventDetailBox h2:after {
  right: 50%;
}

.JY-event-container .eventInfoBox .eventContentBox .eventDetailBox ul {
  padding: 0;
  list-style: none;
}

.JY-event-container .eventInfoBox .eventContentBox .eventDetailBox > ul.d-flex {
  margin-top: 15px;
}

.JY-event-container .eventInfoBox .eventContentBox .eventDetailBox > ul {
  margin-bottom: 0;
}

.JY-event-container .eventInfoBox .eventContentBox .eventDetailBox > ul li {
  margin-right: 0.938rem;
}

.JY-event-container .eventInfoBox .eventContentBox .eventDetailBox .status {
  margin-top: 0.938rem;
  font-size: 1.125rem;
  text-align: center;
}

.JY-event-container .eventInfoBox .eventContentBox .eventDetailBox .quota {
  text-align: center;
  font-size: 0.875rem;
}

.JY-event-container .eventInfoBox .eventContentBox .eventDetailBox .quota span {
  font-size: 1.125rem;
}

.JY-event-container .eventInfoBox .progress_container {
  width: 220px;
  margin: 0 auto;
}

.JY-event-container .eventInfoBox .progress {
  overflow: hidden;
  height: 18px;
  background-color: #89949b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f9f9f9));
  background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.JY-event-container .eventInfoBox .progress .bar {
  width: 0%;
  height: 18px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#149bdf), to(#0480be));
  background-image: linear-gradient(top, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.JY-event-container .eventInfoBox .progress-striped .bar {
  background-color: #89949b;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

.JY-event-container .eventInfoBox .progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

.JY-event-container .eventInfoBox .progress-danger .bar {
  background-color: #89949b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#89949b), to(#c43c35));
  background-image: linear-gradient(top, #89949b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
}

.JY-event-container .eventInfoBox .progress-danger.progress-striped .bar {
  background-color: #1abc9c;
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

.JY-event-container .eventInfoBox .progress_container {
  position: relative;
}

.JY-event-container .eventInfoBox .progress_container::before {
  content: attr(data-progress);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0.875rem;
}

.JY-event-container .eventInfoBox:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.JY-event-container .eventInfoBox:hover .eventDetailBox > h2:before, .JY-event-container .eventInfoBox:hover .eventDetailBox > h2:after {
  opacity: 1;
  width: 45%;
}

.JY-event-container .eventInfoBox:hover .eventImgBox > img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.JY-event-container li.page-item {
  cursor: pointer;
}
/*# sourceMappingURL=event.css.map */