.JY-event-container-detail {
  .eventDataBox {
    margin-bottom: 3.125rem;
    .eventImgBox {
      height: 16.563rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .eventInfoBox {
      color: white;
      font-weight: 300;
      h1 {
        font-size: 1.875rem;
        font-weight: 500;
        text-align: center;
      }
      .quota {
        text-align: center;
        span {
          font-size: 1.125rem;
          font-weight: 500;
        }
      }
      @import './progress.scss';
      .progress_container {
        position: relative;
        &::before {
          content: attr(data-progress);
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          font-size: 0.875rem;
        }
        width: 100%;
        margin: 0 auto;
      }
    }
  }
  .weatherTitle {
    color: white;
    text-align: center;
    margin-bottom: 1.25rem;
    border-bottom: 2px solid white;
  }
  .weatherBox {
    background-color: white;
    border-radius: 0.625rem;
    padding: 10px 0;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    .arrow-left,.arrow-right{
      display: none;
      @media screen and (max-width:540px){
        display: block;
        position: absolute;
        z-index: 1;
        font-size: 30px;
        height: calc(100%-20px);
        color: #132948;
        line-height: 276px;        
      }
    }
    .arrow-right{
      right: 0px;
    }
    .silderBox{
      padding: 0;
      transition: .5s;
      transform: translateX(0px);
      //範圍 0-650px
    }
    .weatherInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .WxImg {
      margin: 0 0 0.625rem 0;
      img {
        width: 4.688rem;
        height: 4.688rem;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        margin: 0 0.313rem;
      }
    }
  }
  .eventDesc {
    width: 100%;
    background-color: white;
    padding: 0.938rem;
    margin-bottom: 20px;
    border-radius: 0.625rem;
    pre {
      font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
      font-size: 1rem;
      color: #132948;
      white-space: pre-wrap; /*css-3*/
      white-space: -moz-pre-wrap; /*Mozilla,since1999*/
      white-space: -pre-wrap; /*Opera4-6*/
      white-space: -o-pre-wrap; /*Opera7*/
      word-wrap: break-word; /*InternetExplorer5.5+*/
    }
  }
  .btn-box {
    margin-bottom: 50px;
    .btn-join {
      width: 280px;
      margin: 0 auto;
    }
  }
}
