.JYcontainer {
  color: white;
  .sortSelect {
    width: 8.75rem;
    select {
      color: rgba($color: #ffffff, $alpha: 0.6);
      option {
        background-color: #132948;
      }
    }
  }
  .typeMenu,
  .subMenu {
    line-height: 2rem;
    .active {
      color: rgba($color: #ffffff, $alpha: 1);
    }
    padding-left: 1.25rem;
    list-style: none;
  }
  .levelTitle {
    font-size: 1.125rem;
    cursor: pointer;
    color: rgba($color: #ffffff, $alpha: 0.6);
    &:hover {
      color: rgba($color: #ffffff, $alpha: 1);
      text-decoration: none;
    }
  }
  .subMenu {
    color: rgba($color: #ffffff, $alpha: 0.6);
    li {
      &:hover {
        cursor: pointer;
        color: rgba($color: #ffffff, $alpha: 1);
      }
    }
    margin-bottom: 0.625rem;
    overflow: hidden;
  }
  .loading {
    text-align: center;
  }
  .classBox {
    margin: 30px 0px;
    .classImgBox {
      padding: 0;
      img {
        width: 100%;
        height: 100%;
      }
      @media screen and(max-width:540px) {
        margin: 0 auto;
      }
    }
    .classInfoContent {
      padding: 0.625rem;
      text-align: center;
      color: #132948;
      background-color: white;
      ul {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0.625rem;
        text-align: left;
        justify-content: space-between;
        font-size: 0.875rem;
        li {
          min-width: 8.75rem;
        }
      }
      .introduction {
        width: 20rem;
        height: 6.75rem;
        background-color: #e6e6e6;
        font-size: 0.875rem;
        padding: 0.625rem;
        margin: 0 auto;
      }
      .price {
        color: #d2b319;
      }
      .btn-more {
        width: 15rem;
        height: 2.563rem;
        margin: 0 auto;
      }
      @media screen and(max-width:540px) {
        ul {
          justify-content: center;
        }
        padding: 0;
        margin: 0 auto;
      }
    }
  }
  li.page-item {
    cursor: pointer;
  }
  .classCategoryList {
    position: relative;
    @media screen and (max-width: 540px) {
      div {
        background-color: white;
        ul,
        li,
        span {
          color: #132948;
        }
        h2{
          display: none;
        }
        ul {
          padding: 0;
          .active {
            color: #f15a24;
          }
          ul {
            li {
              // border-bottom: 1px solid #132948;
            }
          }
        }
        overflow: hidden;
        border-radius: 0px 15px 15px 0px;
        transform: translateX(-100%);
        transition: 0.3s;
        position: absolute;
        padding: 15px;
        top: 38px;
        left: 0px;
        z-index: 1;
      }
    }
    .rwdMenuShow {
      transform: translateX(0%);
    }
  }
}
