.JYcontainer {
  color: white;
}

.JYcontainer .sortSelect {
  width: 8.75rem;
}

.JYcontainer .sortSelect select {
  color: rgba(255, 255, 255, 0.6);
}

.JYcontainer .sortSelect select option {
  background-color: #132948;
}

.JYcontainer .typeMenu,
.JYcontainer .subMenu {
  line-height: 2rem;
  padding-left: 1.25rem;
  list-style: none;
}

.JYcontainer .typeMenu .active,
.JYcontainer .subMenu .active {
  color: white;
}

.JYcontainer .levelTitle {
  font-size: 1.125rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}

.JYcontainer .levelTitle:hover {
  color: white;
  text-decoration: none;
}

.JYcontainer .subMenu {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 0.625rem;
  overflow: hidden;
}

.JYcontainer .subMenu li:hover {
  cursor: pointer;
  color: white;
}

.JYcontainer .loading {
  text-align: center;
}

.JYcontainer .classBox {
  margin: 30px 0px;
}

.JYcontainer .classBox .classImgBox {
  padding: 0;
}

.JYcontainer .classBox .classImgBox img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 540px) {
  .JYcontainer .classBox .classImgBox {
    margin: 0 auto;
  }
}

.JYcontainer .classBox .classInfoContent {
  padding: 0.625rem;
  text-align: center;
  color: #132948;
  background-color: white;
}

.JYcontainer .classBox .classInfoContent ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0.625rem;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.875rem;
}

.JYcontainer .classBox .classInfoContent ul li {
  min-width: 8.75rem;
}

.JYcontainer .classBox .classInfoContent .introduction {
  width: 20rem;
  height: 6.75rem;
  background-color: #e6e6e6;
  font-size: 0.875rem;
  padding: 0.625rem;
  margin: 0 auto;
}

.JYcontainer .classBox .classInfoContent .price {
  color: #d2b319;
}

.JYcontainer .classBox .classInfoContent .btn-more {
  width: 15rem;
  height: 2.563rem;
  margin: 0 auto;
}

@media screen and (max-width: 540px) {
  .JYcontainer .classBox .classInfoContent {
    padding: 0;
    margin: 0 auto;
  }
  .JYcontainer .classBox .classInfoContent ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.JYcontainer li.page-item {
  cursor: pointer;
}

.JYcontainer .classCategoryList {
  position: relative;
}

@media screen and (max-width: 540px) {
  .JYcontainer .classCategoryList div {
    background-color: white;
    overflow: hidden;
    border-radius: 0px 15px 15px 0px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    padding: 15px;
    top: 38px;
    left: 0px;
    z-index: 1;
  }
  .JYcontainer .classCategoryList div ul,
  .JYcontainer .classCategoryList div li,
  .JYcontainer .classCategoryList div span {
    color: #132948;
  }
  .JYcontainer .classCategoryList div h2 {
    display: none;
  }
  .JYcontainer .classCategoryList div ul {
    padding: 0;
  }
  .JYcontainer .classCategoryList div ul .active {
    color: #f15a24;
  }
}

.JYcontainer .classCategoryList .rwdMenuShow {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
/*# sourceMappingURL=class.css.map */