@import '../../../../style/variable.scss';

.font-bigger-chin {
  font-size: 24px;
}
.font-middle-chin {
  font-size: 20px;
}
figure {
  img {
    object-fit: cover;
    max-width: 100%;
    object-position: bottom;
  }
}

.bg-aqua-chin {
  background-color: $aquacolorone;
}
.chin {
  %hrstyle {
    margin-top: 0.5rem;
    margin: 0;
    border: 0;
    color: $aquabackground;
    background-color: $aquabackground;
  }

  hr {
    @extend %hrstyle;
    height: 0.2rem;
  }

  .hr-small {
    @extend %hrstyle;
    height: 0.02rem;
  }
}
